<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tomasulo Simulator</title>
    <script src="jquery.min.js"></script>
    <script src="vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="semantic.min.js"></script>
</head>
<body>
<div id="app">
    <div class="ui secondary menu">
        <a class="item" v-on:click="$('#loadFromFile').click()">Load From File&nbsp;&nbsp;<i class="folder open icon"></i><input id="loadFromFile" type="file" hidden onchange="loadFile(this.files)"/></a>
        <a class="item" onclick="runOneStep()">Run One Step&nbsp;&nbsp;<i class="play icon"></i></a>
        <div class="item">
            <div class="ui action input">
                <input type="number" id="n-step" placeholder="Run multi-steps" min="1" value="3" style="width: 70px">
                <button class="ui icon button" onclick="runNStep($('#n-step').val())">
                    <i class="forward icon"></i>
                </button>
            </div>
        </div>
        <div class="item">Time: {{timestamp}}</div>
    </div>
    <div class="ui container">
        <div class="ui three grid">
            <div class="eight wide column">
                <div>
                    <h4 class="ui top attached block header">
                        Operation Queue
                    </h4>
                    <table class="ui bottom attached table">
                        <thead>
                        <tr><th></th>
                            <th>ID</th>
                            <th>Oper</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>issue</th>
                            <th>execute</th>
                            <th>write result</th>
                        </tr></thead>
                        <tbody>
                        <tr v-for="op in Ops">
                            <td><div v-if="InP == op.id">-></div></td>
                            <td>{{op.id}}</td>
                            <td>{{op.operator}}</td>
                            <td>{{op.displayOperand('A')}}</td>
                            <td>{{op.displayOperand('B')}}</td>
                            <td>{{op.displayOperand('C')}}</td>
                            <td>{{(op.issue==0)?'--':op.issue}}</td>
                            <td>{{(op.execute==0)?'--':op.execute}}</td>
                            <td>{{(op.writeResult==0)?'--':op.writeResult}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4 class="ui top attached block header">
                        Memory
                    </h4>
                    <div class="ui middle attached segment">
                        <div class="ui labeled input">
                            <div class="ui label">Address</div>
                            <input type="number" min="0" max="4095" value="0" placeholder="address" v-model="memorySetter.addr"/>
                            <div class="ui label">Value</div>
                            <input type="number" placeholder="value" value="0" v-model="memorySetter.value"/>
                            <button class="ui button" v-on:click="storeMemory(memorySetter.addr, memorySetter.value)">Set</button>
                        </div>
                    </div>
                    <table class="ui bottom attached table">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="addr in MemoryIndex">
                                <td>{{addr}}</td>
                                <td>{{Memory[addr]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="eight wide column">
                <div>
                    <h4 class="ui top attached block header">
                        Reservation Stations
                    </h4>
                    <table class="ui bottom attached table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>Oper</th>
                            <th>Qj/Vj</th>
                            <th>Qk/Vk</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="rs in RS">
                            <td>#{{rs.id}}</td>
                            <td>{{rs.displayTime()}}</td>
                            <td>{{rs.name}}</td>
                            <td>{{rs.state}}</td>
                            <td>{{rs.displayOper()}}</td>
                            <td>{{rs.j.display()}}</td>
                            <td>{{rs.k.display()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4 class="ui top attached block header">
                        Memory Buffer
                    </h4>
                    <table class="ui bottom attached table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Seq</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>Address</th>
                            <th>Q/V</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="buf in Buffer">
                            <td>#{{buf.id}}</td>
                            <td>{{buf.seq}}</td>
                            <td>{{buf.displayTime()}}</td>
                            <td>{{buf.name}}</td>
                            <td>{{buf.state}}</td>
                            <td>{{buf.A}}</td>
                            <td>{{buf.displayQV()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4 class="ui top attached block header">
                        Registers
                    </h4>
                    <table class="ui bottom attached table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Q/V</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="reg in Registers">
                            <td>F{{reg.id}}</td>
                            <td>{{reg.QV.display()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="tomasulo.js"></script>
</html>